*/ {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #f2709c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff9472,
    #f2709c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff9472,
    #f2709c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  padding: 50px;
  /* padding-right: 100px; */
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: rgba(17, 17, 173, 0.76);
}
.inp {
  background-color: #ebedee;
  border-radius: 50px;
}
input {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 10px 50px;
  outline: none;

  /* position: relative; */
}
button {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 10px 50px;
  border: none;
  background-color: #f16f4b;
  /* position: absolute; */
  right: 1px;
}
